<h1>Static timeline example</h1>
<p>Angular 2 integrated D3 static timeline example</p>
<timeline-line  (window:resize)="onResize($event)"
                [style.height.px]="250"
                [sentioResizeWidth]="true"
                [model]="model"
                [markers]="markers"
                [yExtent]="yExtent"
                [filterFn]="filter"
                [filterState]="filterState"
                [configureFn]="configure"></timeline-line>
<button (click)="updateData()">Update Data</button>
<button (click)="updateFilter()">Update Filter</button>
