/*
=======================================
	ScatterLine Chart
=======================================
*/

.sentio.scatter .axis path,
.sentio.scatter .axis .tick line {
	pointer-events: none;
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.sentio.scatter .axis .tick line {
	stroke: rgba(150, 150, 150, 0.1);
}

.sentio.scatter .axis path {
	stroke: rgba(128, 128, 128, 1);
}

.sentio.gantt .axis path,
.sentio.gantt .axis line {
	fill: none;
	stroke: #555;
	shape-rendering: geometricPrecision;
	pointer-events: none;
}
.sentio.gantt .axis.y line {
	stroke: #DDD;
}
.sentio.gantt .axis.y text {
	font-size: 150%;
	pointer-events: none;
	fill: #999;
}